<footer class="main-footer">

  <div class="impressum">
    {% include snippet.html snippet-id="impressum" show-title=true hierachy-level=3 %}
  </div>

  <div class="partner">
    <a href="https://www.dfg.de/index.jsp">
      <figure>
        <img src="{{ "/assets/images/dfg_logo_englisch_blau_en.gif" | relative_url }}" alt="Deutsche Forschungsgemeinschaft">
        <figcaption>
          funded by the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation)
        </figcaption>
      </figure>
    </a>
  </div>
</footer>